<div class="container">
  <div class="row">
    <div class="twelve columns">
      <div class="hero-unit">
        <h2>wherefolio</h2>
        <p>your geocoded portfolio!</p>
        <%= link_to "get started", "#", class: "btn btn-primary btn-large" %>
      </div>
    </div>
  </div>
</div>
