<% if user_signed_in? %>
  <p><strong>CURRENT USER:</strong>: <%= current_user.twitter_name %></p>
  <p><%= image_tag current_user.twitter_image %></p>
<% end %>
<h1>Index#home</h1>
<p>Find me in app/views/index/home.html.erb</p>

<% if flash[:alert] %>
  <p><strong>ALERT</strong>: <%= flash[:alert] %></p>
<% end %>

<% if flash[:notice] %>
  <p><strong>NOTICE</strong>: <%= flash[:notice] %></p>
<% end %>