<div class="container">
  <div class="row">
    <div class="span12">
      <div class="hero-unit">
        <h2>wherefolio</h2>
        <p>your geocoded portfolio!</p>
        <a href="#" class="btn btn-primary btn-large">get started</a>
      </div>
    </div>
  </div>
</div>
