<div class="row">
  <div class="three columns">
    <h2>wherefolio</h2>
    <p>Three columns</p>
    <%= link_to "Add Project", "/static/add_project",
      class:"medium button" %>
  </div>
  <div class="nine columns">
    
    <div class="tall thumbnails">
      <% 12.times do |i| %>
      <div class="three columns">
        <div class="thumbnail">
          <div class="image-container">
            <img src="//placehold.it/250x400">
          </div>
          <h6>Thumbnail <%= i %></h6>
        </div>
      </div>
      <% end %>
    </div>
    
  </div>
</div>