<div class="row">
  <div class="twelve columns">
    <h2>wherefolio</h2>
    <form>
      <div class="row">
        <div class="ten columns">
          <input type="text" class="large">
        </div>
        <div class="two columns">
          <button type="submit" class="postfix button">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <div class="search-results">
      <p>search results</p>
    </div>
  </div>
</div>